<main [class]="classPrefix('MainPod')">
  <div [class]="classPrefix('Pod0') ">
    <h1 >{{ 'projectsMain.title' | translate}}</h1>
  </div>
  <div [class]="classPrefix('Pod1')">
    <div [class]="classPrefix('Pod1Item0')" *ngFor="let project of projects">
      <div [class]="classPrefix('Pod1Item1')">
        <h2>{{project.title | translate}}</h2>
        <p> {{project.desc | translate}}</p>
        <span [class]="classPrefix('Pod1Span0')">{{"projectsMain.projectURL" | translate}}</span>
        <a  [class]="classPrefix('Pod1Link0')" *ngFor="let val of project.displayValues" [href]="val.href">
          <p >{{val.val}}</p>
        </a>
      </div>
      <img [class]="classPrefix('Pod1Img0')" [src]="project.imgSrc" [alt]="project.imgAlt | translate" />
    </div>

  </div>
</main>
