@import "src/assets/styles/global";


$buttonBackgroundColor: provideRandomColor();
:host {
  &View {
  }
  .Main {
    &Pod{
      padding:var(--spacing7)
    }
  }
  .Pod{
    &0{
      &Button{

        @for $i from 0 through 5 {
          &#{$i} {
            background-color: $buttonBackgroundColor;
            color: contrast-color($buttonBackgroundColor, var(--black), var(--white));
            margin:var(--spacing5) var(--spacing10) 0 0;
            padding:var(--spacing5) var(--spacing7);
          }
        }
        
      }
    }
  }
}