<main [class]="classPrefix('MainPod')">
  <wml-card [class]="classPrefix('Pod0')">

    
    <nav [class]="classPrefix('Pod0Item0')">
      <button class="GlobalButton0" 
      *ngFor="let wmlButton of navButtons" 
      (click)="wmlButton.button.click && wmlButton.button.click($event)">
        <label>{{wmlButton.text.value | translate}}</label>
      </button>
    </nav>
    <img [class]="classPrefix('Pod0Img0')" src="assets/media/nav_0.ico" (click)="openMobileNav()"/>
    <div [class]="classPrefix('Pod0Item1')">
      <router-outlet></router-outlet>
    </div>
  </wml-card>
  <app-footer></app-footer>
</main>
<div [class]="classPrefix('Pod1')" *ngIf="mobileViewIsPresent" >
  <div [class]="classPrefix('Pod1Item0')" [ngStyle]="mobileDivStyle" >
    <div [class]="classPrefix('Pod1Item1')" *ngFor="let wmlButton of navButtons" (click)="wmlButton.button.click && wmlButton.button.click($event)">
      <label>{{wmlButton.text.value | translate}}</label>
    </div>
  </div>
  <img src="assets/media/nav_1.svg" [class]="classPrefix('Pod1Img0')" (click)="closeMobileNav($event)" />
</div>