:host {
  &.View {
  }
  .Main {
    &Pod{

      position: absolute;
    }
  }
  .Pod{
    &0{
      &Item{
        &0{
          display: block;  
        }
        &1{
          display: none;  
        }
      }
    }
  }

}
