@import "src/assets/styles/global.scss";
:host {
  &.View {
    width: 100%;
    height: 100%;    
  }
  .Main {
    &Pod{
      display: flex;
      flex-direction: column;

    }
  }
  .Pod{
    &0{

      background-color: provideRandomColor();
    }
  }
}