<footer [class]="classPrefix('MainPod')">
  <div [class]="classPrefix('Pod0')">
    <button  (click)="wmlButton.button.click && wmlButton.button.click($event)" [class]="'GlobalButton0 GlobalButton1 ' +  classPrefix('Pod0Button0')" *ngFor="let wmlButton of langButtons">
      <img [class]="classPrefix('Pod0Img0')" [src]="wmlButton.icon.src" [alt]="wmlButton.icon.alt"/>
      <label [class]="classPrefix('Pod0Label0')">
        {{wmlButton.text.value | translate}}
      </label>
    </button>
  </div>

</footer>
