@import "src/assets/styles/global.scss";

:host {
  &.FooterView {

    width: 100%;
    bottom: 0;


    .Footer{
      &Main {
        &Pod {
          width: 100%;
        }
      }

      &Pod {
        &0 {
          background-color: var(--black);
          width: 100%;
          display: flex;
          justify-content: center;
          padding: var(--spacing5) var(--spacing3) 0 var(--spacing3);
          border-top: 3px solid var(--grey);
          flex-flow: row wrap;

          &Button {
            &0 {

              margin: 0 var(--spacing5) var(--spacing5) 0;

            }
          }
        }
      }
    }
  }
}