@import "src/assets/styles/global.scss";

:host {
  &.View {
  }
  .Main {
    &Pod{
    }
  }
  .Pod{
    &2{
      background-color: rgba(255,122,129,.5);
      
      position: fixed;
      width: 100vw;
      height: 100vh;
      top:0;
      z-index:2;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
  }
}