
:host {
  *{
    color:var(--lightblue)
  }

  &.View {

  }
  .Main {
    &Pod{
      display: flex;
      background-color: var(--navyblue);
      width: 100%;
      height:var(--spacing10);
      align-items: center;
      padding:var(--spacing4);
      justify-content: space-between;
    }
  }
  .Pod{
    &0{
      flex: 1 1 60%;
      &Title{
        &0{
          color:var(--lightblue)
        }
      }
    }
    &1{
      flex: 1 1 40%;
      &Link{
        &0{
          font-size: var(--fontSize2);
        }
      }
    }
  }
}