:host {
  &.View {
    height: 100vh;
    width:  100vw;
    display: block;
    overflow: hidden;    
  }
  .Main {
    &Pod{
      background-color: var(--black);
      width: 100%;
      height: 100%;      
    }
  }
  .Pod{
    &0{}
  }
}