@import "src/assets/styles/global.scss";


:host {


  &.ContactMainView{
    .ContactMain{
      &Main {
        &Pod{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
      }

      &Pod{
        &0{
          margin: 0 0 var(--spacing3) 0;
          display: flex;
          width: 100%;
          position:relative;
          justify-content: center;
          &Title{
            &0{
                
            }
          }
        }
        &1{
          width: 100%;
        }
      }
    }
  }

}