@import "src/assets/styles/global.scss";


:host {


  &.ContactMainView{
    .ContactMain{
      &Main {
        &Pod{
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 100%;
        }
      }

      &Pod{
        &0{
          margin: 0 0 var(--spacing3) 0;
          display: flex;
          width: 100%;
          position:relative;
          justify-content: center;
          &Title{
            &0{
                
            }
          }
        }
        &1{
          width: 100%;
          display: flex;
          overflow: auto;


          &Item{
            &0{
              width: 50%;
              display: flex;
              flex-direction: column;
              padding:0 var(--spacing5) var(--spacing5) var(--spacing5);
            }
            &1{
              width: 50%;
              padding:0 var(--spacing7);
              
            }
            &2{
              display: flex;
              margin: 0 0 var(--spacing5) 0;
              align-items: center;
            }
          }
          &Text{
            &0{
              margin:0 0 0 var(--spacing5);
              color:var(--white);
              padding:0 var(--spacing5);
              border-radius: var(--spacing7);
            }
          }
          &Img{
            &0{
              // flex: 0 0 20%;
              height: 6vh;
              border-radius: 100%;
              
            }
          }
        }
      }
    }
  }

}